.nav-link.active.custom-active {
    background-color: #FFD700; 
    color: white;            
}

.nav-link.custom-active:hover {
    background-color: #FFD700; 
    color: white;
}
#sidebar{
    height:100vh; 
    background-color: #F7E3D1;
    font-weight: bold;
   
}