   
<div class="relative overflow-x-auto shadow-md sm:rounded-lg top-5">
    <table class="w-full text-sm text-left rtl:text-right">
        <thead class="font-medium" style="background-color: antiquewhite; font-weight: bold;">
            <tr>
                <th scope="col" class="px-6 py-3">
                    OID
                </th>
                <th scope="col" class="px-6 py-3">
                    Check In
                </th>
                <th scope="col" class="px-6 py-3">
                    Check Out
                </th>
                <th scope="col" class="px-6 py-3">
                    Customer
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Email
                </th>
                <th scope="col" class="px-6 py-3 ">
                    Package ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Quntity
                </th>
                <th scope="col" class="px-6 py-3">
                    Total
                </th>

            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let order of orderList" class=" hover:bg-gray-200" style="cursor: pointer;">

                <td class="px-6 py-4">
                    {{order.orderID}}
                </td>
                <td class="px-6 py-4">
                    {{order.checkIn}}
                </td>
                <td class="px-6 py-4">
                    {{order.checkOut}}
                </td>
                <td class="px-6 py-4">
                    {{order.customerName}}
                </td>
                <td class="px-6 py-4">
                    {{order.email}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{order.packageID}}
                </td>
                <td class="px-6 py-4">
                    {{order.category}}
                </td>
                <td class="px-6 py-4 text-center">
                    {{order.qty}}
                </td>
                <td class="px-6 py-4">
                    {{order.total}}
                </td>
            </tr>



        </tbody>
    </table>
    <button (click)="genaratePdf()">PDF</button>

</div>