<div class="relative top-0 flex flex-col md:flex-row items-center md:space-x-4 space-y-4 md:space-y-0">
    <!-- Image Container -->
    <div class="flex-1 flex justify-center w-full md:w-auto">
        <img src="./assets/img/hotel-logo.jpg" alt="User Icon" class="rounded-full" style="width: 50%;">
    </div>

    <!-- Card Container -->
    <div class="flex-1 block w-full md:w-auto max-w-sm p-16 border border-gray-200 rounded-lg shadow"
        style="background-color: antiquewhite;">
        <p style="text-align: center; font-size: x-large; font-weight: bold;">Users</p>
        <p style="font-size: 6em; text-align: center;">{{count}}</p>
        <p style="font-size: x-large; text-align: center;">Still Connected</p>
    </div>
</div>




<div class="relative overflow-x-auto shadow-md sm:rounded-lg top-10">
    <table class="w-full text-sm text-left rtl:text-right">
        <thead class="uppercase " style="background-color: antiquewhite; font-weight: bold;">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList"   class=" hover:bg-gray-200 font-bold" style="cursor: pointer;">
                <td class="px-6 py-4">{{user.userId}}</td>
                <td class="px-6 py-4">{{user.email}}</td>
                <td class="px-6 py-4">{{user.userName}}</td>
                <td class="px-6 py-4">{{user.address}}</td>
                <td class="px-6 py-4">{{user.contactNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>